.home {
  background-color: #cdf;

  .ant {
    &-col {
      min-width: 160px;
    }

    &-card {
      border-color: #000;

      &-body {
        min-height: 180px;
      }

      &-head, &-body {
        background-color: #efffef; 
      }
    }
  }
}
